<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:shiro.properties" ignore-unresolvable="true"/>

    <bean id="credentialsMatcher" class="org.aurora.base.shiro.SysUserCredentialsMatcher">
        <property name="hashAlgorithmName" value="${shiro.hashAlgorithmName}"/>
        <property name="hashIterations" value="${shiro.hashIterations}"/>
    </bean>

    <bean id="sysUserRealm" class="org.aurora.base.shiro.SysUserRealm">
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
    </bean>

    <bean id="shiroSessionListener" class="org.aurora.base.shiro.listener.ShiroSessionListener"/>

    <bean id="shiroSessionFactory" class="org.aurora.base.shiro.session.ShiroSessionFactory"/>

    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionListeners">
            <list>
                <ref bean="shiroSessionListener"/>
            </list>
        </property>
        <property name="sessionFactory" ref="shiroSessionFactory"/>
        <property name="globalSessionTimeout" value="${shiro.globalSessionTimeout}"/>
    </bean>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="sysUserRealm"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
    </bean>

    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

</beans>